.App {
  text-align: center;
  font-size: 32px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.Todo {
  background-color: green;
  width: 160px;
  font-size: 16px;
  height: 64px;
  line-height: 8px;
  text-align: left;
  margin: 0 0 0 0;
  padding: 8px 8px 8px 8px;
  border: 1px solid black;
}