.Todo {
    background-color: green;
    width: 160px;
    font-size: 16px;
    height: 64px;
    line-height: 8px;
    text-align: left;
    margin: 0 0 0 0;
    padding: 8px 8px 8px 8px;
    border: 1px solid black;
}